<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ENG566 Computer Program</title>
    <style>
        h1 {
            background-color: #4CAF50;
            color: white;
            width: 375px;
            text-align: center;
        }
        form {
            font-family: Tahoma, Geneva, sans-serif;
            font-size: 14px;
            font-style: italic;
            line-height: 24px;
            font-weight: bold;
            color: #4CAF50;
            text-decoration: none;
        }
        input {
            width: 375px;
            display: block;
            border: 1px solid #999;
            height: 25px;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        }
    </style>
</head>
<body>
<center>
    <h1>ENG566 Computer Program</h1>
    <form action="/employees">
        <input type="submit" value="List Employees" />
    </form>
    <form action="/add-employee">
        <input type="submit" value="Add Employees" />
    </form>
    <br>
    <form action="/customers">
        <input type="submit" value="List Customers" />
    </form>
    <form action="/add-customer">
        <input type="submit" value="Add Customer" />
    </form>
    <br>
    <form action="/vendors">
        <input type="submit" value="List Vendors" />
    </form>
    <form action="/add-vendor">
        <input type="submit" value="Add Vendor" />
    </form>
    <br>
    <form action="/pay-employee">
        <input type="submit" value="Pay Employee" />
    </form>
    <form action="/payroll">
        <input type="submit" value="Payroll" />
    </form>
    <br>
    <form action="/inventory">
        <input type="submit" value="Inventory" />
    </form>
    <br>
    <form action="/create-invoice">
        <input type="submit" value="Create Invoice" />
    </form>
    <form action="/invoice-history">
        <input type="submit" value="Invoice History" />
    </form>
    <br>
    <form action="/create-po">
        <input type="submit" value="Create PO" />
    </form>
    <form action="/po-history">
        <input type="submit" value="PO History" />
    </form>
    <br>
    <form action="/balance-sheet">
        <input type="submit" value="Balance Sheet" />
    </form>
    <form action="/income-statement">
        <input type="submit" value="Income Statement" />
    </form>
    <br>
    <br>
    <br>
    <h2>Testing Features</h2>
    <h3>Current Date (UTC): {{ date.date|e }}</h3>
    <form action="/advance-date">
        <input type="submit" value="Advance Current Date by One Month" />
    </form>
    <form action="/re-init">
        <input type="submit" value="Re-initialize ALL Data (WARNING ERASES CURRENT DATA)" />
    </form>
</center>
</body>
</html>