<!DOCTYPE html>
<html>
<head>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>

<body>
<h1>Vendor Data</h1>
<table>
  <tr>
    <th>Company Name</th>
    <th>Part</th>
    <th>Price/Unit</th>
    <th>Address1</th>
    <th>Address2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
  </tr>
  {% for vendor in vendors %}
  <tr>
    <td>{{ vendor.companyname|e }}</h2></a></td>
    <td>{{ vendor.part|e }}</h2></a></td>
    <td>{{ vendor.price_per_unit|e }}</h2></a></td>
    <td>{{ vendor.address1|e }}</h2></a></td>
    <td>{{ vendor.address2|e }}</h2></a></td>
    <td>{{ vendor.city|e }}</h2></a></td>
    <td>{{ vendor.state|e }}</h2></a></td>
    <td>{{ vendor.zipcode|e }}</h2></a></td>
  </tr>
  {% endfor %}
</table>
</body>
</html>